<div class="container"
      fxLayout="column"
      fxLayoutGap="10px">


  <div fxFlex>
    <div>
      <h3>Menu</h3>
      <hr>
    </div>
  </div>

  <div  fxFlex>
  <md-grid-list cols="2" rowHeigth="200px">
    <md-grid-tile *ngFor="let prato of pratos">
      <img height="200px" src={{prato.imagem}} alt={{prato.nome}}>
      <md-grid-tile-footer>
      <h1 md-line>{{prato.nome | uppercase}}</h1>
      </md-grid-tile-footer>
    </md-grid-tile>
  </md-grid-list>
  </div>

  <div fxFlex *ngIf="pratoSelecionado">
    <md-card>
      <md-card-header>
        <md-card-title>
          <h3>{{pratoSelecionado.nome | uppercase}}</h3>
         </md-card-title>
         
      </md-card-header>
      <img md-card-image src="{{pratoSelecionado.imagem}}" alt="{{pratoSelecionado.nome}}" />
      <md-card-content>
        <p>{{pratoSelecionado.descricao}}</p>
      </md-card-content>
      <md-card-actions>
        <button md-button>Curtir</button>
        <button md-button>Compartilhar</button>
      </md-card-actions>
    </md-card>
  </div>

</div>