<div class="container"
      fxLayout="column"
      fxLayoutGap="10px">


  <div fxFlex>
    <div>
      <h3>Menu</h3>
      <hr>
    </div>
  </div>

  <div  fxFlex *ngIf="pratos" [@expand]>
  <md-grid-list cols="2" rowHeigth="200px">
    <md-grid-tile *ngFor="let prato of pratos" [routerLink]="['/dishdetail',prato.id]" appHighlight>
      <img height="200px" src="{{ baseUrl + prato.imagem}}" alt={{prato.nome}}>
      <md-grid-tile-footer>
      <h1 md-line>{{prato.nome | uppercase}}</h1>
      </md-grid-tile-footer>
    </md-grid-tile>
  </md-grid-list>
  </div>
  <div [hidden]="pratos || mensagemErro ">
    <md-spinner></md-spinner><h4>Carregando...</h4>
  </div>
  <div *ngIf="mensagemErro">
    <h2>Erro</h2>
    <h4>{{mensagemErro}}</h4>
  </div>

</div>