<div class="container"
      fxLayout="row"
      fxLayout.sm="column"
      fxLayout.xs="column"
      fxLayoutAlign.gt-md="space-around center"
      fxLayoutGap="10px"
      fxLayoutGap.xs="0">



  <div fxFlex *ngIf="pratoSelecionado">
    <md-card>
      <md-card-header>
        <md-card-title>
          <h3>{{pratoSelecionado.nome | uppercase}}</h3>
         </md-card-title>
      </md-card-header>
      <img md-card-image src="{{pratoSelecionado.imagem}}" alt="{{pratoSelecionado.nome}}" />
      <md-card-content>
        <p>{{pratoSelecionado.descricao}}</p>
      </md-card-content>
      <md-card-actions>
        <button md-button (click)="goBack()">Voltar</button>
        <button md-button>Curtir</button>
        <button md-button>Compartilhar</button>
      </md-card-actions>
    </md-card>
  </div>
  <div [hidden]="pratoSelecionado">
      <md-spinner></md-spinner><h4>Carregando...</h4>
  </div>


</div>
