<div class="container"
     fxLayout="row"
     fxLayout.sm="column"
     fxLayout.xs="column"
     fxLayoutAlign.gt-md="space-around center"
     fxLayoutGap="10px">

<md-card *ngIf="dish" fxFlex>
  <md-card-header>
    <div md-card-avatar></div>
    <md-card-title>
      <h3>{{dish.nome | uppercase}}</h3>
    </md-card-title>
  </md-card-header>
  <img md-card-image  src="{{ baseUrl + dish.imagem}}"  alt={{dish.nome}}>
  <md-card-content>
    <p>{{dish.descricao}}
    </p>
  </md-card-content>
</md-card>
<div [hidden]="dish || erroDish">
    <md-spinner></md-spinner><h4>Carregando...</h4>
</div>
<div *ngIf="erroDish">
  <h2>Erro</h2>
  <h4>{{erroDish}}</h4>
</div>

<md-card *ngIf="promocao" fxFlex>
  <md-card-header>
    <div md-card-avatar></div>
    <md-card-title>
      <h3>{{promocao.nome | uppercase}}</h3>
    </md-card-title>
  </md-card-header>
  <img md-card-image src="{{ baseUrl + promocao.imagem}}"  alt={{promocao.nome}}>
  <md-card-content>
    <p>{{promocao.descricao}}
    </p>
  </md-card-content>
</md-card>
<div [hidden]="promocao || erroPromocao">
    <md-spinner></md-spinner><h4>Carregando...</h4>
</div>
<div *ngIf="erroPromocao">
  <h2>Erro</h2>
  <h4>{{erroPromocao}}</h4>
</div>

<md-card *ngIf="leader" fxFlex>
  <md-card-header>
    <div md-card-avatar></div>
    <md-card-title>
      <h3>{{leader.name | uppercase}}</h3>
    </md-card-title>
  </md-card-header>
  <img md-card-image src="{{ baseUrl + leader.image}}"  alt={{leader.name}}>
  <md-card-content>
    <p>{{leader.description}}
    </p>
  </md-card-content>
</md-card>
<div [hidden]="leader || erroLeader">
    <md-spinner></md-spinner><h4>Carregando...</h4>
</div>
<div *ngIf="erroLeader">
  <h2>Erro</h2>
  <h4>{{erroLeader}}</h4>
</div>

</div>